.contato-container {
  margin: 20px auto;
  max-width: 800px;
  text-align: center;
}

.contato-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-size: 1.1em;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #a11c1c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #861717;
}
